/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 feb 2022, 10:52:32
    Author     : alber
*/

body {
    background-image:url(./images/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: calibri;
}

a {
    text-decoration: none;
}




th {
    font-size: 1.5em;
    
    border-radius: 5%;
}

#apuntar {
    text-align: center;
    margin-top: 2%;
    margin-right: 40%;
    font-size: 1.5em;
}


#nuevoCliente {
    margin-top: 2%;
    margin-left: 10%;
}

input {
    border-radius: 5%;
}

#infoAct {
    position: absolute;
    margin-left: 75%;
    background-color: #0b2349;
    padding: 1%;
    font-size: 1.1em;
    border: 1px black solid;
    border-radius: 5%;
    top: 5%;
    color: white;
}

#infoActVolver {
    position: absolute;
    background-color: #0b2349;
    padding: 1%;
    font-size: 1.1em;
    border: 1px black solid;
    border-radius: 5%;
    top: 60%;
    color: white;
}

#modificarBoton {
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 20%;
    
}

#eliminarBoton {
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 20%;
    
}



#cancelar {
    position: absolute;
    background-color: #0b2349;
    padding: 1%;
    font-size: 1.1em;
    border: 1px black solid;
    border-radius: 5%;
    top: 60%;
    color: white;
}

